.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1366px;
    padding: 32px 70px;
    background: #ffff;
}

.inner_reviewsPage .container,
.container-lg {
    max-width: 1200px;
    padding: unset;
    border: 1px solid rgba(28, 75, 140, .1);
    background: #fff;
    box-shadow: 0 0.3rem 1.8rem rgb(28 75 140 / 10%);
}

/* .inner_review {
    display: flex;
    grid-column: 1/2;
    grid-row: 3;
    flex-direction: row;
    margin-right: 24px;
    background-color: #fff;
    height: 208px;
    box-shadow: 0 1px 5px 1px rgb(0 0 0 / 10%);
} */

.review_img {
    position: relative;
    height: 311px;
    max-width: 372px;
    min-width: 420px;
    position: relative;
}

.review_img img {
    /* height: 100%; */
    width: 100%;
}

.review_info {
    display: flex;
    flex-direction: column;
    padding: 24px 15px 0px;
    position: relative;
}

.review_info h4 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
}

.review_info p {
    font-size: 14px;
    font-size: 15px;
    width: 90%;
}

.date {
    position: absolute;
    bottom: 0;
}

.date p {
    width: 100%;
    font-weight: bold;
}

.featured a {
    position: absolute;
    top: 5%;
    background: #3aacb2;
    color: #fff;
    width: 20%;
    text-align: center;
    font-weight: bold;
    padding: 10px 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.featured a:hover {
    color: #fff;
}

.reviewright .card-body {
    border: 1px solid;
}

.reviewsPage .cupon_right.blogInner {
    padding: unset;
}

.reviewsPage .cupon_right.blogInner h1 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
}

.reviewsPage .card.Customer_feedback {
    padding: 5px 15px;
}

.review_heading {
    background: #35aab0;
    color: #fff;
    padding: 4px 20px;
}

.review_heading h4 {
    font-size: 17px;
    font-weight: bold;
    margin-top: 7px;
}

.reviews_cat img {
    width: 100%;
    object-position: 50% 30%;
    height: 100%;
    width: 100%;
    max-width: unset;
    max-height: unset;
}

.reviews_cat p {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    line-height: 15px;
}

.reviews_cat>.row>*,
.reviewsPage .col-md-4 {
    padding-right: unset !important;
    padding-left: unset !important;
}

.reviews_cat {
    margin: 0px 12px;
}

.reviewright a {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    height: 80px;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 1px 5px 1px rgb(0 0 0 / 10%);
    margin-top: 18px;
    margin-bottom: 30px;
}

.review_para {
    width: 85%;
    padding-top: 5px;
}

.cupon_left.blogLeft.reviewright {
    margin-top: -2px !important;
}

.review_right .main_heading {
    text-align: left;
}

.review_right .card {
    margin: 6px;
    box-shadow: 0 1px 5px 1px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0 1px 5px 1px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .1);
    border: none;
    margin-bottom: 20px;
    width: 85%;
}

.review_right .card-body {
    padding: 7px;
}

.review_right h5.card-title {
    font-size: 16px;
    font-weight: bold;
}

.review_right p.card-text {
    font-size: 15px;
}

p.date-text {
    font-weight: bold;
    font-size: 14px;
}

.review_right p.card-text {
    font-size: 15px;
    line-height: 18px;
}

section.cupons_wrapper.allCuponStyle.review_main {
    margin: 0px;
    margin-top: -100px;
}

/* .review_right .col-md-4 {
    padding: unset;
  
} */
.review_right .card a.btn.btn-primary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #35aab0;
    height: 54px;
    width: 100%;
    padding: 25px;
    font-weight: bold;
    border-radius: 0px;
    border: none;
}

.main_heading h4 {
    font-weight: bold;
}

.review_right .card a:hover,
.card.reviewCard a:hover {
    color: #000;
}

.review_right .card .btn:hover {
    color: #fff;
}

.card.reviewCard {
    width: 95%;

}

.single_reivew {
    border: none;
    background: transparent;
}

.single_reivew .card-body {
    padding: unset;
    margin-top: 50px;
}

.box {
    background-color: #fff;
    padding: 0 30px 20px;
    margin: 30px 0 20px;
    text-align: center;
    border-right: 1px solid #e6e6e6;
    position: relative;
    height: 200px;

}

p.overall {
    font-size: 18px;
    font-weight: bold;
}

p.buy_again {
    font-weight: bold;
}

.box i {
    font-size: 100px;
    margin-bottom: 10px;
    color: #35aab0;
}

p.starRates {
    margin-top: -68px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.side_logo {
    border: 1px solid #dddddd7a;
}

.side_logo img {
    width: 100%;
    padding: 20px;
}

.button {
    margin-top: 50px;
}

.main_star {
    display: flex;
    align-items: center;
    justify-content: center;
}

.star_box i {
    font-size: 70px;
}

p.starRate {
    margin-top: -53px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.star_box {
    margin: 30px;
}

.review {
    text-align: left;
}

section.cupons_wrapper.allCuponStyle.reviewsPage {
    margin-top: 60px;
    /* padding: 20px; */
}

.star_box .overall {
    font-size: 16px;
    font-weight: 300;
    line-height: 42px;
}

.inner_reviewsPage .cupon_left.blogLeft.reviewright {
    width: 96%;
}

p.buy_again {
    font-weight: bold;
    margin-top: 36px;
}

.single-review .cupon_left.blogLeft.reviewright {
    width: 96%;
}

@media screen and (max-width:1024px) {
    .star_box {
        margin: 10px;
    }
}

@media screen and (max-width:992px) {
    .card.reviewCard {
        width: 100%;
    }

    .reviews_tab {
        display: flex;
        flex-wrap: wrap;
    }

    .reviews_tab a {
        width: 50%;
    }

    section.cupons_wrapper.allCuponStyle.review_main>.container>.row,
    section.cupons_wrapper.allCuponStyle.inner_reviewsPage .container>.row {
        flex-direction: row;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        background-color: transparent;
        padding: 32px 40px;
    }

    .box {
        border: none;
        padding: 0 10px 20px;
    }

    p.buy_again {
        font-size: 14px;
    }

    .side_logo img {
        padding: unset;
    }

}

@media screen and (max-width:768px) {
    .box {

        height: auto;
        text-align: center;
    }

    p.overall {
        text-align: center;
    }
}

@media screen and (max-width:767px) {
    .review_right .card {
        width: 100%;
    }

    .reviews_tab a {
        width: 100%;
    }

    .reviews_cat>.row>.col-md-8 {
        width: 50%;
    }

    .reviews_cat>.row>.col-md-4 {
        width: 30%;
    }

    .reviewsPage .row>*,
    .review_main .row>* {
        padding: unset;
    }

    .review_right .card {
        width: 95%;
        margin: auto;
    }

    .box {
        margin-top: 10px;
        padding: 5px;
    }

    .side_logo {
        width: 100%;
        margin: auto;
    }

    .button {
        margin-top: 10px;
    }
    .inner_reviewsPage .container, .container-lg {
        padding: 32px 30px;
    }
}
    @media screen and (max-width:600px) {
        .box {
            height: auto;
        }
        .featured a{
            width: 50%;
        }
        .star_box i {
            font-size: 45px;
        }
        p.starRate {
            margin-top: -40px;
            font-size: 14px;
        }
        .reviews_cat>.row>.col-md-4 {
            width: 50%;
        }
    }